# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Publish Docker image

on:
  workflow_dispatch:
    inputs:
      push:
        description: "Push to container registry"
        required: false
        default: false
        type: boolean
      simulate_schedule:
        description: "Simulate schedule"
        required: false
        default: false
        type: boolean
  schedule:
    - cron: "5 3 * * *"
  push:
    branches:
      - "**"
    tags:
      - "*"
    paths-ignore:
      - "**.yml"
      - "**.yaml"
      - "**.md"
      - "**.txt"
      - ".gitattribute"
      - ".gitignore"
  pull_request:
    branches:
      - "**"
    paths-ignore:
      - "**.yml"
      - "**.yaml"
      - "**.md"
      - "**.txt"
      - ".gitattribute"
      - ".gitignore"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  set_vars:
    name: Set variables
    runs-on: ubuntu-latest
    outputs:
      is_schedule: ${{ steps.set_outputs.outputs.is_schedule }}
      is_workflow_dispatch: ${{ steps.set_outputs.outputs.is_workflow_dispatch }}
    steps:
      - name: Set outputs
        id: set_outputs
        run: |
          is_schedule=${{ github.event_name == 'schedule' || !!inputs.simulate_schedule }}
          is_workflow_dispatch=${{ github.event_name == 'workflow_dispatch' && !inputs.simulate_schedule }}
          echo "::set-output name=is_schedule::$is_schedule"
          echo "::set-output name=is_workflow_dispatch::$is_workflow_dispatch"

  build-and-push:
    name: Build and push image
    needs: set_vars
    strategy:
      fail-fast: false
      matrix:
        year: ["2019", "2022"]
    runs-on: windows-${{ matrix.year }}
    permissions:
      contents: read
      packages: write
      id-token: write
    if: ${{ !(github.event_name == 'push' && (github.ref == 'refs/heads/latest' || startsWith(github.ref, 'refs/tags/'))) }}
    outputs:
      pushed: ${{ steps.push_output.outputs.pushed == 'true' }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        if: ${{ needs.set_vars.outputs.is_schedule != 'true' }}

      - name: Check out the latest branch
        uses: actions/checkout@v4
        with:
          ref: latest
        if: ${{ needs.set_vars.outputs.is_schedule == 'true' }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          flavor: |
            latest=false
          tags: |
            type=sha,prefix=,suffix=-windowsservercore-ltsc${{ matrix.year }}
          labels: |
            org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}
            org.opencontainers.image.description=GitHub Runner for Windows Server Core LTSC${{ matrix.year }}
            org.opencontainers.image.licenses=MIT

      - name: Check if update available
        id: check
        uses: giggio/docker-image-update-checker@v2
        with:
          base-image: mcr.microsoft.com/windows/servercore:ltsc${{ matrix.year }}
          image: ${{ steps.meta.outputs.tags }}
          os: windows
          verbose: true
        if: ${{ needs.set_vars.outputs.is_schedule == 'true' }}

      - name: Build and push image
        id: build_push
        uses: docker/build-push-action@v5
        with:
          context: ./runner
          platforms: windows/amd64
          push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' || steps.check.outputs.needs-updating == 'true' && needs.set_vars.outputs.is_schedule == 'true' || inputs.push && needs.set_vars.outputs.is_workflow_dispatch == 'true' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            LTSC_YEAR=${{ matrix.year }}
          outputs: type=image,name=target,annotation-index.org.opencontainers.image.description=GitHub Runner for Windows Server Core LTSC${{ matrix.year }}

      - name: Set push output
        id: push_output
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' || steps.check.outputs.needs-updating == 'true' && needs.set_vars.outputs.is_schedule == 'true' || inputs.push && needs.set_vars.outputs.is_workflow_dispatch == 'true' }}
        run: |
          echo "::set-output name=pushed::true"

  # scheduled: an update to year tag because of base image update, will have ran 'build-and-push' job:
  push_manifest_scheduled_with_year:
    name: Push Docker manifest to Container Registry (with year, scheduled and with base image update)
    runs-on: windows-latest
    needs: ["build-and-push", "set_vars"]
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        year: ["2019", "2022"]
    if: ${{ success() && needs.set_vars.outputs.is_schedule == 'true' && needs.build-and-push.outputs.pushed == 'true' }}
    env:
      DOCKER_CLI_EXPERIMENTAL: enabled
    steps:
      - name: Check if should continue
        id: should
        run: |
          $shouldContinue = "${{ needs.build-and-push.outputs.pushed == 'true' }}"
          Write-Output "::set-output name=continue::$shouldContinue"

      - name: Check out the latest branch
        uses: actions/checkout@v4
        with:
          ref: latest
        if: ${{ success() && steps.should.outputs.continue == 'true' }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ success() && steps.should.outputs.continue == 'true' }}

      - name: Push manifest (${{ matrix.year }})
        run: |
          $sha = $(git rev-parse --short HEAD)
          docker manifest create ${env:REGISTRY}/${env:IMAGE_NAME}:windowsservercore-ltsc${{ matrix.year }} --amend ${env:REGISTRY}/${env:IMAGE_NAME}:$sha-windowsservercore-ltsc${{ matrix.year }}
          docker manifest push ${env:REGISTRY}/${env:IMAGE_NAME}:windowsservercore-ltsc${{ matrix.year }}
        if: ${{ success() && steps.should.outputs.continue == 'true' }}

  # not scheduled, with year, pushes to main and tags, might run 'build-and-push' job (push to main) or not (push to latest and tags):
  push_manifest_branches_and_tags_with_year:
    name: Push Docker manifest to Container Registry (with year, via branch and tag updates)
    runs-on: windows-latest
    needs: ["build-and-push", "set_vars"]
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        year: ["2019", "2022"]
    if: ${{ always() && needs.set_vars.outputs.is_schedule != 'true' }}
    env:
      DOCKER_CLI_EXPERIMENTAL: enabled
    steps:
      - name: Check if should continue
        id: should
        run: |
          $shouldContinue = "${{ (needs.build-and-push.result == 'success' && needs.build-and-push.outputs.pushed == 'true') || (needs.build-and-push.result == 'skipped' && (github.event_name == 'push' && (github.ref == 'refs/heads/latest' || github.ref_type == 'tag'))) }}"
          Write-Output "::set-output name=continue::$shouldContinue"

      - name: Check out the repo
        uses: actions/checkout@v4
        if: ${{ success() && steps.should.outputs.continue == 'true' }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ success() && steps.should.outputs.continue == 'true' }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          flavor: |
            latest=false
          tags: |
            type=ref,event=branch
            type=ref,event=tag
        if: ${{ success() && steps.should.outputs.continue == 'true' }}

      - name: Push manifest (${{ matrix.year }})
        run: |
          $sha = $(git rev-parse --short HEAD)
          docker manifest create ${{ steps.meta.outputs.tags }}-windowsservercore-ltsc${{ matrix.year }} --amend ${env:REGISTRY}/${env:IMAGE_NAME}:$sha-windowsservercore-ltsc${{ matrix.year }}
          docker manifest push ${{ steps.meta.outputs.tags }}-windowsservercore-ltsc${{ matrix.year }}
        if: ${{ success() && steps.should.outputs.continue == 'true' }}

  # scheduled: an update to latest tag because of base image update, will have ran 'build-and-push' job:
  push_manifest_scheduled_latest:
    name: Push Docker manifest to Container Registry (without year, latest tag, scheduled and with base image update)
    runs-on: windows-latest
    needs: ["build-and-push", "set_vars"]
    permissions:
      contents: read
      packages: write
      id-token: write
    if: ${{ needs.set_vars.outputs.is_schedule == 'true' && needs.build-and-push.outputs.pushed == 'true' }}
    env:
      DOCKER_CLI_EXPERIMENTAL: enabled
    steps:
      - name: Check out the latest branch
        uses: actions/checkout@v4
        with:
          ref: latest

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push manifest
        run: |
          $sha = $(git rev-parse --short HEAD)
          docker manifest create ${env:REGISTRY}/${env:IMAGE_NAME}:latest --amend ${env:REGISTRY}/${env:IMAGE_NAME}:$sha-windowsservercore-ltsc2019 --amend ${env:REGISTRY}/${env:IMAGE_NAME}:$sha-windowsservercore-ltsc2022
          docker manifest push ${env:REGISTRY}/${env:IMAGE_NAME}:latest
          docker manifest create ${env:REGISTRY}/${env:IMAGE_NAME}:$sha --amend ${env:REGISTRY}/${env:IMAGE_NAME}:$sha-windowsservercore-ltsc2019 --amend ${env:REGISTRY}/${env:IMAGE_NAME}:$sha-windowsservercore-ltsc2022
          docker manifest push ${env:REGISTRY}/${env:IMAGE_NAME}:$sha

  # not scheduled, without year, pushes to main and tags, might run 'build-and-push' job (push to main) or not (push to latest and tags):
  push_manifest_branches_and_tags_without_year:
    name: Push Docker manifest to Container Registry (without year, via branch and tag updates)
    runs-on: windows-latest
    needs: ["build-and-push", "set_vars"]
    permissions:
      contents: read
      packages: write
      id-token: write
    if: ${{ always() && needs.set_vars.outputs.is_schedule != 'true' && ((needs.build-and-push.result == 'success' && needs.build-and-push.outputs.pushed == 'true') || (needs.build-and-push.result == 'skipped' && (github.event_name == 'push' && (github.ref == 'refs/heads/latest' || github.ref_type == 'tag')))) }}
    env:
      DOCKER_CLI_EXPERIMENTAL: enabled
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          flavor: |
            latest=false
          tags: |
            type=ref,event=branch
            type=ref,event=tag

      - name: Push manifest
        run: |
          $sha = $(git rev-parse --short HEAD)
          docker manifest create ${{ steps.meta.outputs.tags }} --amend ${env:REGISTRY}/${env:IMAGE_NAME}:$sha-windowsservercore-ltsc2019 --amend ${env:REGISTRY}/${env:IMAGE_NAME}:$sha-windowsservercore-ltsc2022
          docker manifest push ${{ steps.meta.outputs.tags }}
          docker manifest create ${env:REGISTRY}/${env:IMAGE_NAME}:$sha --amend ${env:REGISTRY}/${env:IMAGE_NAME}:$sha-windowsservercore-ltsc2019 --amend ${env:REGISTRY}/${env:IMAGE_NAME}:$sha-windowsservercore-ltsc2022
          docker manifest push ${env:REGISTRY}/${env:IMAGE_NAME}:$sha
